{% extends "layout.html" %}

{% block title %} Purjelentokerho {% endblock %}

{% block subtitle %} Etusivu {% endblock %}

{% block content %}

<p>
  Tervetuloa purjelentokerhon sovellukseen! Klikkaamalla alla olevasta listasta purjekonetta näet lisätietoja koneesta ja siihen tehdyt koneanomukset. Voit myös lisätä uusia purjelentokoneita tai hakea purjelentokonetta hakusanalla. Ensin kannattaa rekisteröityä käyttäjäksi.
</p>

<h2>Kerhon purjelentokoneet</h2>

{% for item in items %}
  <div class="item">
    <h3>
      <a href="/item/{{ item.id }}">{{ item.glider_type }}</a>
    </h3>
    {{ item.callsign }} - {{ item.compsign }} - {{ item.glider_class }} - {{ item.options }}
  </div>
{% endfor %}

{% endblock %}