{% extends "layout.html" %}

{% block title %} Purjelentokerho {% endblock %}

{% block subtitle %} Etusivu {% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
{% if messages %}
  {% for message in messages %}
    <div class="alert">{{ message }}</div>
  {% endfor %}
{% endif %}
{% endwith %}

<h2>Kerhon purjelentokoneet</h2>

{% for item in items %}
  <div class="item">
    <h3>
      <a href="/item/{{ item.id }}">{{ item.glider_type }}</a>
    </h3>
    {{ item.callsign }} - {{ item.compsign }} - {{ item.glider_class }} - {{ item.options }}
  </div>
{% endfor %}

{% endblock %}