<!DOCTYPE html>
<html>

<head>
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="/static/main.css">
</head>

<body>
    <div class="header">
        <h1>
            Purjelentokerho
        </h1>
    </div>

    <nav>
        <ul class="nav">
            <li><a href="/">Etusivu</a></li>
            <li><a href="/search_item">Haku</a></li>
            {% if session.user_id %}
            <li><a href="/new_item">Lisää purjelentokone</a></li>
            <li><a href="/logout">Kirjaudu ulos</a></li>
            {% else %}
            <li><a href="/login">Kirjaudu sisään</a></li>
            <li><a href="/register">Rekisteröidy</a></li>
            {% endif %}
        </ul>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <div class="username">
    {% if session.username %}
        <p> Olet kirjautunut käyttäjällä <a href="/user/{{ session.user_id }}">{{ session.username }}</a></p>
    {% endif %}
    </div>

<div class="subtitle">
    <h2>{% block subtitle %} {% endblock %}</h2>
</div>

<div class="content">
    {% block content %} {% endblock %}
</div>

</body>

</html>