{% extends "layout.html" %}

{% block title %} Purjelentokerho {% endblock %}

{% block subtitle %} Poista purjelentokone {% endblock %}

{% block content %}
<p>Haluatko varmasti poistaa purjelentokoneen {{ item.glider_type }} {{ item.callsign }}?</p>

<form action="/remove_item/{{ item.id }}" method="post">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="remove" value="Poista">
  <input type="submit" name="return" value="Peruuta"> 
</form>
{% endblock %}