{% extends "layout.html" %}

{% block title %} Purjelentokerho {% endblock %}
{% block subtitle %} Haku {% endblock %}

{% block content %}
<form action ="/search_item" method="GET">

<p>
    Hakusana (konetyyppi tai rekisteritunnus):
</p>
<input type="text" name="query" value="{{ query }}"> <br />
<input type="submit" value="Hae">

</form>

<p>
    <a href="/">Palaa etusivulle</a>
</p>

{% if query %}
<h2> Hakutulokset </h2>

{% for item in results %}
<div class="item">
    <h3>
        <a href="/item/{{ item.id }}">{{ item.glider_type }}</a>
    </h3>
    {{ item.callsign }} - {{ item.compsign }} - {{ item.glider_class }} - {{ item.options }}
</div>
{% endfor %}

    {% endif %}

{% endblock %}