{% extends "layout.html" %}

{% block title %} Purjelentokerho {% endblock %}
{% block subtitle %} Käyttäjä {{ user.username }} {% endblock %}


{% block content %}
<p>
  Käyttäjä on lisännyt yhteensä {{ items | count }} purjelentokonetta.
</p>

<h2>Käyttäjän lisäämät purjelentokoneet</h2>


{% for item in items %}
<div class="item">
  <h3>
    <a href = "/item/{{ item.id }}">{{ item.glider_type }}</a>
  </h3>
  {{ item.callsign }} - {{ item.compsign }} - {{ item.glider_class }} - {{ item.options }}
</div>
{% endfor %}

<p> <a href="/">Takaisin</a> </p>

{% endblock %}
